.card {
  width: 100%;
  font-size: 10px;
  position: relative;
}
#shopButton {
  width: 50px;
}
img {
  width: auto;
}
.content {
  background-color: coral;
  color: white;
  position: absolute;
  top: 2px;
  width: 100%;
  padding: 0px;
}

@media all and (min-width: 600px) and (max-width: 1000px) {
  .card {
    width: calc(100% / 3 - 2%);
  }
}
@media all and (min-width: 400px) and (max-width: 599px) {
  .card {
    width: calc(100% / 2 - 2%);
  }
}
@media all and (max-width: 399px) {
  .card {
    width: calc(100% - 2%);
  }
}

#shopCards {
  position: absolute;
  width: 100%;
  height: 80%;
  margin-right: 1px;
  float: right !important;
  height: 100vh !important;
  margin-left: 100%;
  margin-top: 1%;
  margin-bottom: 2%;
  border-radius: 2px;
  height: 100% !important;
  display: flex !important;
  flex-flow: wrap !important;
  justify-content: center !important;
  align-items: stretch !important;
  align-content: space-around !important;
}
